{% extends "base.html" %}

{% block content %}
    <div class="container">
        <p><br></p>
        <h1>|About Me|</h1>
        <h3>Skills:</h3>
        <p>Front-end Marking and Style Languages: HTML and CSS - Stylize a Web Site.<br>
        Use the world’s most popular HTML and CSS coed library bootstrap.<br>
        Back-end programming- Python basics.<br>
        Fit a website on the web using Heroku (AWS), Microsoft Azure and Google cloud hosts.<br>
        Create your own personal CV in GitHub system.<br>
        </div>
    </div>
{% endblock content %}